# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/src/assets/74f4f548392fbdafbe8a5d9764c83eaf.jpg
/src/assets/IMG_20200422_203515.jpg
/src/assets/Ft4IgkgWwAcgSAu.jpg
